.menu{
    display: flex;
    justify-content: space-between;
    background-color: black;
    padding: 15px;
    font-size: 30px;
    font-family: sans-serif;
    font-weight: 400;
    color: rgb(138, 0, 115);
}
body{
    margin: 0px;
    background-color:#f7f2f2;
    
}
a{
    text-decoration: none;
}
a:link{
    color:white;
}
a:visited{
    color:white;
}
.bodyimg{
    position: relative;
}
.bodyimg p{
    color:rgba(2, 0, 124, 0.829);
    font-size: 60px;
    font-family: 'Times New Roman', Times, serif;
    position: absolute;
    top:10%;
    left:50%;
    transform: translate(-50%,-50%);
}
.bodyimg h3{
    color:#f7f2f2;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    width: 1600px;
    position: absolute;
    top:40%;
    left:45%;
    transform: translate(-40%, -40%);
}
.grid{
    display: flex;
    flex-wrap: wrap;
    margin: 40px;
    font-family: Arial, Helvetica, sans-serif;
    
}
.grid img{
    border: 2px solid black;
    border-radius: 50px;
}
.origami {
    
    border-radius: 20px;
    background-color: #ffffff;
    padding: 30px;
    margin: 25px;
    width:310px;
    font-family:'Courier New', Courier, monospace;
    
}
.origami:hover{

    transform: scale(1.2);
}